div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 98.72%;
	margin-top: -20px;
	height: 120px;
	background-color: #668284;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 34px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
	float:right;
	margin-top: 40px;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 24px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
	font-size: 24px;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
	font-size: 20px;
}
td {
	border: 1px #668284 dashed;
}
.tabled {
	font-family: Garamond, serif;
	color: #000000;
	font-size: 20px;
}
#tabletitle {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -5px;
	font-family: Verdana, sans-serif;
	font-size: 24px;
}
li {
	list-style-type: square;
	font-size: 18px;
}

a:hover {
	font-weight: bold;
}
img {
	margin-left: 5px;
	width: 100px;
	height: 100px;
	float: bottom;
	margin-top: 5px;
	margin-bottom: 5px;
}
.left {
	position: relative;
	float: left;
	margin-top: 130px;
	width: 120px;
	height: 600px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 130px;
	width: 88%;
	height: 600px;
	background-color: #F4EBC3;
	margin-bottom: 10px;
}

#footer {
	position: relative;
	/*height: 50px;*/
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}
