<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href = "static/tree_metrics_stylesheet.css"/>
  <title>Your results</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    var token = '{{ access_token }}';
    var id ='{{ user_id }}';
    console.log(id);


    $.ajax({
      url: "https://sandbox.familysearch.org/platform/tree/ancestry?generations=8&personDetails&person=" + id,
      type: "GET",
      headers: {
        "Accept": "application/json",
        "Authorization": "Bearer " + token
      },
      calendar: {
        "January": 0,
        "February": 0,
        "March": 0,
        "April": 0,
        "May": 0,
        "June": 0,
        "July": 0,
        "August": 0,
        "September": 0,
        "October": 0,
        "November": 0,
        "December": 0
      },

      success: function(data){
        var tree = data["persons"];

        this.getUserName(tree);
        console.log(data);

        //Get number of people in tree
        $(".treecount").html(String(tree.length))

        //Get generations in tree
        this.getGenerations(tree);

        //Get birthdays in tree
        this.getBirthdays(tree);

        //Get common name in tree
        this.getCommonName(tree);

        //Get common birthplace
        this.getCommonBirthplace(tree);

      },

      //Find User's name for display
      getUserName: function(tree){
        var nametext = document.getElementById("name");
        var clientIndex = -1;
        for(var i = (tree.length-1); i >=0; i--){
          if (id == tree[i].id){
            clientIndex = i;
            break;
          }
        }
        nametext.innerHTML = tree[i].display.name;
      },

      //get Number of Generations in Tree
      getGenerations: function(tree){
        var generations = 1;
        for(var i = (tree.length-1); i >=0; i--){
          var iGeneration = parseInt(tree[i].display.ascendancyNumber);
          iGeneration = parseInt(Math.log(iGeneration)/Math.log(2));
          if(iGeneration>=generations){
            generations = iGeneration+1;
          }
        }
        $(".gencount").html(String(generations));
      },

      //get birthdays
      getBirthdays: function(tree){
        for(var i = (tree.length-1); i >=0; i--){
          var date = String(tree[i].display.birthDate);
          var month = "";
          if (date!="undefined"){
            date = date.split(" ");
            month = date[1];
            this.calendar[month] +=1;
          }

        }
        var str = this.birthdayToString();
        $(".birthdays").html(str);
      },

      birthdayToString: function(){
        var result = "";
        for (var key in this.calendar){
          result = result+ String(key)+ ": " + String(this.calendar[key]) + "<br>";
        }
        return result;
      },

      //get most common name
      getCommonName: function(tree){
        var names = {};
        for(var i = (tree.length-1); i >=0; i--){
          fullName = String(tree[i].display.name);
          fullName = fullName.split(" ");
          for (var j = (fullName.length-1); j>=0; j--){
            name = String(fullName[j]);
            if (name in names){
              names[name] +=1;
            }
            else{
              names[name] = 1;
            }
          }
        }
        var mostUsed = this.getBiggestKey(names);
        $(".mostused").html(mostUsed);
      },

      getBiggestKey: function(my_object){
        var biggest = 0;
        for (key in my_object){
          if (my_object[key] > biggest){
            var mostCounted = key;
            biggest = my_object[key];
          }
        }
        return String(mostCounted);
      },

      //get most common birth country
      getCommonBirthplace: function(tree){
        var places = {};
        for(var i = (tree.length-1);i>=0;i--){
          birthplace = String(tree[i].display.birthPlace);
          birthplace = birthplace.split(", ")
          birthplace = birthplace[birthplace.length-1];
          if (birthplace in places){
            places[birthplace] +=1;
          }
          else if(String(birthplace) == "undefined"){

          }
          else{
            places[birthplace] = 1;
          }
        }
        var commonBirthplace = this.getBiggestKey(places);
        console.log("Most common birthplace: " + String(commonBirthplace));
        $(".commonbirthplace").html(String(commonBirthplace));
      }

    })

  </script>
</head>
<body>
  <p>{{ user_id }}</p>
  <p id="name"></p>
  <div>
    <h2>Number of People in Tree</h2>
    <div class="emphasis">
      <p class="treecount"></p>
    </div>
  </div>
  <div>
    <h2>Number of Generations in Tree</h2>
    <div class="emphasis">
        <p class="gencount"></p>
      </div>
  </div>
  <div>
    <h2>Birthdays in Each Month</h2>
    <p class = "birthdays"></p>
  </div>
  <div>
    <h2>Most Common Name</h2>
    <div class="emphasis">
      <p class= "mostused"></p>
    </div>
  </div>
  <div>
    <h2>Most Common Birthplace</h2>
    <div class="emphasis">
      <p class = "commonbirthplace"></p>
    </div>
  </div>
</body>
</html>
